nav ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float:left;
}
nav ul li a {
    font-family: consolas;
    display: block;
    color: white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
}
nav ul li a:hover {
    background-color: #111;
}