img{
    width: 500px;
}
main ul{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    list-style-type:none;
}
@media (min-width: 800px){
    img{
        width: 350px;
    }
    main ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 990px){
    img{
        width: 300px;
    }
    main ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}